--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
openai
supabase
transformers
torch==2.1.0+cpu
python-dotenv
langchain
langchain-community
duckduckgo-search
scikit-learn
numpy
python-multipart